body{
	background: rgb(215,215,215);
}
h1{
	
}

hr{
	border-color: red;
	
}
header{
	margin-top: 10px;
}


.numbers{
	max-width: 80px;
	border-color: red;
	border-radius: 5px;
	text-align: center;
}

.box{
	height: 200px;
	text-align: center;
	}
#loader{
	border : 16px solid #d7d7d7;
	border-top: 16px solid red;
	border-bottom: 16px solid red;
	border-radius: 50%;
	height: 60px;
	width:  60px;
	-webkit-animation: spin 1s linear infinite;
  	animation: spin 1s linear infinite;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(180deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.listaBox{
	height: 400px;
	overflow-y: scroll;
	border: 2px solid black;
}

.vertical-center{
    margin-top: 20%;
    margin-left: 30%;
}

.icon{
	width: 50px; 
	height:50px;
}