body{
	background: rgb(215,215,215);
}
h1{
	
}

hr{
	border-color: red;
	
}
header{
	margin-top: 10px;
}

.numbers{
	max-width: 80px;
	border-color: red;
	border-radius: 5px;
	text-align: center;
}

.box{
	height: 200px;
	text-align: center;
	}